  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <h3>Micropost Feed</h3>
        </div>
        <div class="search_form">
          <%= render 'shared/microposts_search_form' %>
        </div>
      </div>
      <%= render'shared/feed' %>
    </div>
  </div>